.wrap{
    display: grid;
    grid-template-columns: auto 1fr;

    .content{
        width: 100%;
        height: 100vh;
        background-color: #E8E8E8;   

       .home_wrap{
        width: 100%;
        height: 100%;
        .wait_message{
        font-size: 24px;
        height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;   
        }
       }


        .custInfo_wrap{
            width: calc(100% - 30px);
            min-width: 1024px;
            height: calc(100% - 30px);
            overflow: scroll;
            padding: 20px;
            margin: 15px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            background-color: #fff;
            border-radius: 12px;

.title_box{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 20px;
    h2{
        font-size: 20px;
        font-weight: 700;
    }
    select{
        color: #bbb;
        border: none;
        font-size: 14px;
    }
}

.top_section{
    margin-bottom: 10px;
    .filter_wrap{
        display: flex;
        align-items: center;
        gap:6px;
.search_filter{
    .search, .tab{
        position: relative;
        &>button{
            white-space: nowrap;
            @include commonBtn;

            & + .output{
                display: none;
            }
        }
        .list{
            display: flex;
            flex-direction: column;
            width: 150px;
            height: 100%;
            overflow-y: scroll;
            background-color: #fff;
            border:  1px solid $main100;
            // border-radius: 4px 0px 0px 4px;
            border-radius: 4px;
            padding: 0px 8px;
            li{
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 14px;
            padding: 10px 4px;
            border-bottom: 1px solid #dadada;
            }
        }

        .filter_box{
            width: 200px;
            border:  1px solid $main100;
            border-radius: 0px 4px 4px 0px;
            background-color: #fff;
            display: none;
            
            &.calendar, &.toggle, &.check, &.text{
            display: block;
            }
            &.calendar{
            .calendar_type{
                display: block;
            }
            .toggle_type, .check_type, .text_type{
            display: none;
            }
            }
            &.toggle{
            .toggle_type{
                display: block;
            }
            .calendar_type, .check_type, .text_type{
            display: none;
            }
            }
            &.check{
            .check_type{
                display: block;
            }
            .toggle_type, .calendar_type, .text_type{
            display: none;
            }
            }         
            &.text{
            .text_type{
                display: block;
            }
            .toggle_type, .calendar_type, .check_type{
                display: none;
            }
            }   
            .calendar_type{
            padding: 12px;
            p{
                display: flex;
                align-items: center;
                font-size: 14px;
                gap:10px;
            }
            .react-datepicker-wrapper{
                border: 1px solid #dadada;
                border-radius: 4px;
                overflow: hidden;
                padding: 4px;
                width: calc(100% - 8px);
                margin-top: 10px;
            }
            }
            .toggle_type{
            ul{
            display: flex;
            flex-wrap: wrap;
            gap:10px;
            justify-content: space-between;
            padding: 12px;
            li{
            min-width: 50%;
                display: flex;
                align-items: center;
                span{
                    font-size: 14px;
                    margin-right: 8px;
                }
            }
            }
            
            }
            .check_type{
            ul{
            padding: 12px;
            
            li{
                width: 100%;
                display: flex;
                align-items: center;
                gap:4px;
            
                input{
                    min-width: 22px;
                    height: 22px;
                }
                label{
                    font-size: 14px;
                    @include txtellipsis;
                }
            }
            }
            }   
            .text_type{
            padding: 12px 0;
            .input_box{
            @include commonInput;
              }
            
              ul{
                padding: 8px 12px;
                display: flex;
                flex-direction: column;
                gap:3px;
            
                li{
                    font-size: 14px;
                }
              }
            }
            }

    }

}
        .search_filter{
            position: relative;
            display: flex;
            gap:8px;

.tab{
    .output_t{
        display: none;
    }
}
 
            &.on_filter{
 .search{
    .output{
        display: flex;
        position: absolute;
        top: 40px;
        z-index: 10;
        height: 240px;
    }
 }
            }

            &.on_tab{
          .tab{
            .output_t{
                display: block;
                position: absolute;
                left: 0px;
                top: 40px;
                z-index: 10;

                .list{
                    display: flex !important;
                    flex-direction: column;
                    width: 150px;
                    height: 100%;
                    overflow-y: scroll;
                    background-color: #fff;
                    border:  1px solid $main100;
                    // border-radius: 4px 0px 0px 4px;
                    border-radius: 4px;
                    padding: 0px 8px;
                    li{
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                       font-size: 14px;
                       padding: 10px 4px;
                        border-bottom: 1px solid #dadada;

                        &:hover{
                            font-weight: 700;
                        }
                    }
                    }
            }
          }
            
            }
        }

        .filter_value{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap:6px;
            span{
            display: flex;
            align-items: center;
font-size: 13px;
padding: 6px 12px;
background-color: #d9e6fd;
border-radius: 20px;
color:#333;
b{
    font-weight: 800;
}
svg{
margin-left: 8px;
}
            }
        }

        .right{
        margin-left: auto;
          .input_box{
            display: flex;
            align-items: center;
            padding: 4px 12px;
            border: 1px solid #ddd;
            border-radius: 8px;
            input{
                margin-left: 4px;
                &::placeholder{
                    color: #ddd;
                    font-weight: 300;
                }
            }
          }
          button{
           @include commonBtn; 
          }
        }
      
    }

    .tag_box{
        display: flex;
        flex-wrap: wrap;
        gap:4px;
        margin-top: 10px;
        .tag{
            border-radius: 4px;
            position: relative;
        
        font-size: 13px;
            background-color: $main200;
            padding: 4px 22px 4px 8px;
            svg{
                position: absolute;
            }
        }
    }
}
        }
       }

       
}








// ---- table

.table{
    width: 100%;
    max-width: 1600px;
    margin-top: 20px;
    height: auto;
    overflow: hidden;

    .table_content{
        position: relative;
        width: 100%;

        // top content, filter단에서 컴포넌트가 세로로 추가될 경우 이부분 수정해야함
        height:calc(100vh - 230px);

        .table_head{
            display: flex;
            font-size: 15px;
            height: 35px;
            background-color: #ecf2ff;
            font-weight: 700;
           text-indent: 8px;
           border-radius: 6px;
 
          &> div{
            white-space: nowrap;
            min-width: 70px;

            svg{
                margin-left: auto;
            }

            &::before{
                content:"";
                width: 1px;
                height: 20px;
                background-color: #dadada;
            }
            &:nth-child(1){
&::before{
    display: none;
}
            }


            .cell_resize{
                min-width: 0px;
                position: absolute;
                right: 0;
                z-index: 10;
                width: 1px;
                height: 100%;
                cursor: col-resize;
                background-color: transparent;
            }

           }

     


        }
.table_body{
    margin-bottom: auto;
    max-height: calc(100% - 35px - 30px);
    .row{
        display: flex;
        border-bottom: 1px solid #dadada;
        font-size: 14px;


        &:hover{
            background-color: #d9e6fd;
        }
       

        .cell{
            cursor: pointer;
            white-space: nowrap;
            @include txtellipsis;
            padding: 0px 8px;
            height: 40px;
            line-height: 38px;
            min-width: 70px;
            
        
        }
  
    }
}
        .pagination{
            position:absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            margin-top: auto;
            text-align: center;
            display: flex;
            gap:4px;
  
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #dadada;
                border-radius: 30px;
                width: 30px;
                height: 30px;
font-weight: 300;
color: #333;

                &.current{
                    font-weight: 800;
                    background-color: $main100;
                    border: none;
                    color: #fff;
                }
            }
        }
    }


}


@media (prefers-color-scheme: dark) {
    *{
        --rdg-color: none;
        --rdg-border-color: none;
        --rdg-summary-border-color: none;
        --rdg-background-color: none;
        --rdg-header-background-color:none;
        --rdg-header-draggable-background-color: none;
        --rdg-row-hover-background-color:none;
        --rdg-row-selected-background-color:none;
        --rdg-row-selected-hover-background-color: none;
        --rdg-checkbox-focus-color:none;
    }
}

.modal_bg{
    position: absolute;
    top: 0;
    left: 0;
width: 100vw;
height: 100vh;
background-color: rgba(0, 0, 0, 0.2);
z-index: 10;
}

.modal_wrap{
    width: 420px;
    height: 550px;
    background-color: #fff;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    border: 2px solid $main100;
    border-radius: 8px;



    .modal_header{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        svg{
            position: absolute;
            top: 12.5px;
            right: 15px;
            cursor: pointer;
        }
        span{
            width: 100%;
            text-align: center;
            margin-right: auto;
            font-weight: 800;
        }
    }

    .modal_body{
        width: 100%;
        padding: 20px;
        height: calc(100% - 100px);
        overflow-y: scroll;

        ul{
            display: flex;
            flex-direction: column;
            gap:10px;

            li{
                display: flex;
                align-items: center;
                gap:10px;
                width: 100%;
                height: 38px;
label{
    width: 35%;
    text-align: right;
    font-weight: 700;
    font-size: 14px;
}
input{
    width: 65%;
    padding: 6px 8px;
    background-color: #ecf2ff;
}
            }
        }


@include scrollBar;
    }

    .modal_foot{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap:10px;
        padding: 0px 20px;
        height: 50px;
        background-color: #fff;
        filter: drop-shadow(0 -2px 2px rgba(255, 255, 255, 0.7))
        drop-shadow(0 -5px 5px rgba(255, 255, 255, 0.7))
        drop-shadow(0 -15px 15px rgba(255, 255, 255, 0.7));

        button{
            background-color: $main100;
color:#fff;
padding: 6px 28px;
border-radius: 4px;


&.disable{
    color: #666;
    background-color: #ddd;
    border: 1px solid #333;
}
        }
    }
}